.module1 .box {
  font-size: 14px;
  color: pink;
}
.module1 .tips {
  font-size: 12px;
  color: #ffffff;
}
.module2 .box {
  font-size: 16px;
  color: pink;
}
.module2 .tips {
  font-size: 14px;
  color: #ffffff;
}
