$blue: blue;
$column: 200px;

.menu {
    width: calc(4 * $column);
}

.menu_link {
    color: $blue;
    width: $column;
}

.notice-clear {
    @if 1 < 2 {
        background: red;
    }

    @else {
        background: blue;
    }
}

@for $i from 1 to 5 {
    .b-$i {
        width:$(i)px;
    }
}